{% extends './layout/layout.html' %}

{% block content %}
<section>
    <div class="d-flex flex-wrap">
        <div class="col-md-12 col-sm-6 px-0 mb-3">
            <img src="{{img_path}}/1.jpg" alt="">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3 img_show">
            <img src="{{img_path}}/2.jpg" alt="">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3 img_show">
            <img src="{{img_path}}/3.jpg" alt="">
        </div>
        <div class="col-md-4 col-sm-6 col-12 mb-3 img_show">
            <img src="{{img_path}}/4.jpg" alt="">
        </div>
    </div>
</section>
<section>
    <div class="container py-md-5 py-3">
        <div class="d-flex bg-light align-items-center position-relative mb-md-4 mb-3">
            <h2 class="d-inline-block text-uppercase section-title">
                san pham moi
            </h2>
            <div class="flex-grow-1 text-right section-navbar">
                <a href="#" class="d-md-none d-inline-block py-1 px-2" data-toggle="collapse" data-target="#section-1""
                    aria-controls="section-1"" aria-expanded="false" aria-label="Toggle navigation"><span>Xem
                        them</span><i class="fa fa-angle-down fa-fw"></i></a>
                <div id="section-1" class="collapse">
                    <ul class="nolist d-flex flex-md-row flex-column text-center">
                        <li class="flex-fill py-1 px-2"><a href="#">VinFast</a></li>
                        <li class="flex-fill py-1 px-2"><a href="#">Honda</a></li>
                        <li class="flex-fill py-1 px-2"><a href="#">Toyota</a></li>
                        <li class="flex-fill py-1 px-2"><a href="#">Ford</a></li>
                        <li class="flex-fill py-1 px-2"><a href="#">Mazda</a></li>
                        <li class="flex-fill py-1 px-2"><a href="#">Nissan</a></li>
                        <li class="flex-fill py-1 px-2"><a href="#">Hyundai</a></li>
                        <li class="flex-fill py-1 px-2"><a href="#">KIA</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-card">
                    <a href="./product-detailt.html" class="product-thumb">
                        <img src="{{img_path}}/5.jpg" alt="">
                    </a>
                    <h3 class="product-title">
                        <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                    </h3>
                    <p class="product-content">
                        <small class="text-muted"><i>Xuat xu: Germany</i></small>
                    </p>
                    <h4 class="product-price">
                        Gia: Vui long lien he
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-card">
                    <a href="./product-detailt.html" class="product-thumb">
                        <img src="{{img_path}}/6.jpg" alt="">
                    </a>
                    <h3 class="product-title">
                        <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                    </h3>
                    <p class="product-content">
                        <small class="text-muted"><i>Xuat xu: Germany</i></small>
                    </p>
                    <h4 class="product-price">
                        Gia: Vui long lien he
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-card">
                    <a href="./product-detailt.html" class="product-thumb">
                        <img src="{{img_path}}/7.jpg" alt="">
                    </a>
                    <h3 class="product-title">
                        <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                    </h3>
                    <p class="product-content">
                        <small class="text-muted"><i>Xuat xu: Germany</i></small>
                    </p>
                    <h4 class="product-price">
                        Gia: Vui long lien he
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-card">
                    <a href="./product-detailt.html" class="product-thumb">
                        <img src="{{img_path}}/8.jpg" alt="">
                    </a>
                    <h3 class="product-title">
                        <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                    </h3>
                    <p class="product-content">
                        <small class="text-muted"><i>Xuat xu: Germany</i></small>
                    </p>
                    <h4 class="product-price">
                        Gia: Vui long lien he
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-card">
                    <a href="./product-detailt.html" class="product-thumb">
                        <img src="{{img_path}}/5.jpg" alt="">
                    </a>
                    <h3 class="product-title">
                        <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                    </h3>
                    <p class="product-content">
                        <small class="text-muted"><i>Xuat xu: Germany</i></small>
                    </p>
                    <h4 class="product-price">
                        Gia: Vui long lien he
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-card">
                    <a href="./product-detailt.html" class="product-thumb">
                        <img src="{{img_path}}/6.jpg" alt="">
                    </a>
                    <h3 class="product-title">
                        <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                    </h3>
                    <p class="product-content">
                        <small class="text-muted"><i>Xuat xu: Germany</i></small>
                    </p>
                    <h4 class="product-price">
                        Gia: Vui long lien he
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-card">
                    <a href="./product-detailt.html" class="product-thumb">
                        <img src="{{img_path}}/7.jpg" alt="">
                    </a>
                    <h3 class="product-title">
                        <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                    </h3>
                    <p class="product-content">
                        <small class="text-muted"><i>Xuat xu: Germany</i></small>
                    </p>
                    <h4 class="product-price">
                        Gia: Vui long lien he
                    </h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-card">
                    <a href="./product-detailt.html" class="product-thumb">
                        <img src="{{img_path}}/8.jpg" alt="">
                    </a>
                    <h3 class="product-title">
                        <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                    </h3>
                    <p class="product-content">
                        <small class="text-muted"><i>Xuat xu: Germany</i></small>
                    </p>
                    <h4 class="product-price">
                        Gia: Vui long lien he
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-md-5 py-3">
        <h2 class="d-inline-block text-uppercase section-title">
            Ve Chung Toi
        </h2>
        <div class="row my-3 align-items-center">
            <div class="col-lg-6 order-2">
                <p>
                    Những năm gần đây Ô TÔ đã và đang dần trở thành phương tiện đi lại phổ biến tại Việt Nam. Cùng với tốc độ phát triển
                    kinh tế, mức thu nhập của người dân ngày càng tăng và nhu cầu đi lại thiết yếu thì việc sở hữu 1 chiếc xe ô tô đang dần
                    phổ biến trong mỗi gia đình người dân Việt Nam. Bonbanh.com - Trang web mua bán ô tô ra đời từ năm 2006 với phương châm
                    là cầu nối chia sẻ thông tin giữa người mua xe ô tô và người bán xe ô tô, kênh thông tin mua bán ô tô uy tín và đáng
                    tin cậy.
                </p>
                <p>
                    Chúng tôi đã và đang không ngừng cải thiện, phát triển chất lượng dịch vụ để đóng góp một phần tích cực giúp cho người
                    dân Việt Nam dễ dàng tiếp cận và sở hữu chiếc ô tô mơ ước của mình. Tại Bonbanh.com thông tin giá cả và các mẫu xe ô tô
                    mới luôn được cập nhật thường xuyên, đầy đủ và chính xác , bạn có thể dễ dàng tìm kiếm cho mình chiếc xe ô tô cũ / mới
                    ưng ý nhất với giá cả tốt nhất 
                </p>
            </div>
            <div class="col-lg-6 order-1">
                <img src="{{img_path}}/10.jpg" alt="">
            </div>
        </div>
        <div class="swiper-container img-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{{img_path}}/11.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{{img_path}}/12.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{{img_path}}/13.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{{img_path}}/14.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{{img_path}}/15.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{{img_path}}/16.jpg" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="{{img_path}}/10.jpg" alt="">
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<section>
    <div class="container py-md-5 py-3">
        <h2 class="d-inline-block text-uppercase section-title">
            Tin Tuc
        </h2>
        <div class="row my-3">
            <div class="col-md-4 col-sm-6 align-items-stretch">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{img_path}}/10.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="./news-detailt.html" class="text-dark">Card title</a>
                        </h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 align-items-stretch">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{img_path}}/10.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="./news-detailt.html" class="text-dark">Card title</a>
                        </h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 align-items-stretch">
                <div class="card mb-4">
                    <img class="card-img-top" src="{{img_path}}/10.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="./news-detailt.html" class="text-dark">Card title</a>
                        </h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the card's
                            content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
    var swiper = new Swiper('.swiper-container', {
            slidesPerView: 6,
            spaceBetween: 10,
            init: true,
            loop: true,
            autoplay: {
                delay: 5000,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 40,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 30,
                },
                640: {
                    slidesPerView: 1,
                    spaceBetween: 20,
                },
                320: {
                    slidesPerView: 1,
                    spaceBetween: 10,
                }
            }
        });
</script>
{% endblock %}