{% extends './layout/layout.html' %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>
</div>
<div class="container py-md-5 py-3">
    <h2 class="text-center d-inline-block section-title">
        tin tuc
    </h2>
    <div class="my-3">
        <h1 class="text-dark">
            Ban tin cap nhat tin hinh thoi tiet nam 2200
        </h1>
        <article class="bg-light p-3">
            <p>
                Những năm gần đây Ô TÔ đã và đang dần trở thành phương tiện đi lại phổ biến tại Việt Nam. Cùng với tốc
                độ
                phát triển
                kinh tế, mức thu nhập của người dân ngày càng tăng và nhu cầu đi lại thiết yếu thì việc sở hữu 1 chiếc
                xe ô
                tô đang dần
                phổ biến trong mỗi gia đình người dân Việt Nam. Bonbanh.com - Trang web mua bán ô tô ra đời từ năm 2006
                với
                phương châm
                là cầu nối chia sẻ thông tin giữa người mua xe ô tô và người bán xe ô tô, kênh thông tin mua bán ô tô
                uy
                tín và đáng
                tin cậy.
            </p>
            <p>
                Chúng tôi đã và đang không ngừng cải thiện, phát triển chất lượng dịch vụ để đóng góp một phần tích cực
                giúp cho người
                dân Việt Nam dễ dàng tiếp cận và sở hữu chiếc ô tô mơ ước của mình. Tại Bonbanh.com thông tin giá cả và
                các
                mẫu xe ô tô
                mới luôn được cập nhật thường xuyên, đầy đủ và chính xác , bạn có thể dễ dàng tìm kiếm cho mình chiếc
                xe ô
                tô cũ / mới
                ưng ý nhất với giá cả tốt nhất
            </p>
        </article>
    </div>
</div>
<div class="container">
    <h2 class="text-center d-inline-block section-title mb-3">
        Tin tuc Lien quan
    </h2>
    <div class="d-flex mb-lg-5 mb-md-4 mb-3 align-items-stretch card-deck">
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card mb-4">
                <img class="card-img-top" src="{{img_path}}/10.jpg" alt="Card image cap">
                <div class="card-body px-3 py-1 text-center">
                    <h5 class="card-title p-0 m-0">
                        <a href="./news-detailt.html" class="text-dark">Card title</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card mb-4">
                <img class="card-img-top" src="{{img_path}}/10.jpg" alt="Card image cap">
                <div class="card-body px-3 py-1 text-center">
                    <h5 class="card-title p-0 m-0">
                        <a href="./news-detailt.html" class="text-dark">Card title</a>
                    </h5>
                </div>
            </div>
        </div>
    
    </div>
</div>
{% endblock %}