{% extends './layout/layout.html' %}

{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
        </ol>
    </nav>
</div>
<div class="container py-md-5 py-3">
    <h1 class="text-center d-inline-block section-title">
        San Pham
    </h1>
    <div class="row my-3">
        <div class="col-md-3 col-sm-6">
            <div class="product-card">
                <a href="./product-detailt.html" class="product-thumb">
                    <img src="{{img_path}}/5.jpg" alt="">
                </a>
                <h3 class="product-title">
                    <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                </h3>
                <p class="product-content">
                    <small class="text-muted"><i>Xuat xu: Germany</i></small>
                </p>
                <h4 class="product-price">
                    Gia: Vui long lien he
                </h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-card">
                <a href="./product-detailt.html" class="product-thumb">
                    <img src="{{img_path}}/6.jpg" alt="">
                </a>
                <h3 class="product-title">
                    <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                </h3>
                <p class="product-content">
                    <small class="text-muted"><i>Xuat xu: Germany</i></small>
                </p>
                <h4 class="product-price">
                    Gia: Vui long lien he
                </h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-card">
                <a href="./product-detailt.html" class="product-thumb">
                    <img src="{{img_path}}/7.jpg" alt="">
                </a>
                <h3 class="product-title">
                    <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                </h3>
                <p class="product-content">
                    <small class="text-muted"><i>Xuat xu: Germany</i></small>
                </p>
                <h4 class="product-price">
                    Gia: Vui long lien he
                </h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-card">
                <a href="./product-detailt.html" class="product-thumb">
                    <img src="{{img_path}}/8.jpg" alt="">
                </a>
                <h3 class="product-title">
                    <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                </h3>
                <p class="product-content">
                    <small class="text-muted"><i>Xuat xu: Germany</i></small>
                </p>
                <h4 class="product-price">
                    Gia: Vui long lien he
                </h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-card">
                <a href="./product-detailt.html" class="product-thumb">
                    <img src="{{img_path}}/5.jpg" alt="">
                </a>
                <h3 class="product-title">
                    <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                </h3>
                <p class="product-content">
                    <small class="text-muted"><i>Xuat xu: Germany</i></small>
                </p>
                <h4 class="product-price">
                    Gia: Vui long lien he
                </h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-card">
                <a href="./product-detailt.html" class="product-thumb">
                    <img src="{{img_path}}/6.jpg" alt="">
                </a>
                <h3 class="product-title">
                    <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                </h3>
                <p class="product-content">
                    <small class="text-muted"><i>Xuat xu: Germany</i></small>
                </p>
                <h4 class="product-price">
                    Gia: Vui long lien he
                </h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-card">
                <a href="./product-detailt.html" class="product-thumb">
                    <img src="{{img_path}}/7.jpg" alt="">
                </a>
                <h3 class="product-title">
                    <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                </h3>
                <p class="product-content">
                    <small class="text-muted"><i>Xuat xu: Germany</i></small>
                </p>
                <h4 class="product-price">
                    Gia: Vui long lien he
                </h4>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="product-card">
                <a href="./product-detailt.html" class="product-thumb">
                    <img src="{{img_path}}/8.jpg" alt="">
                </a>
                <h3 class="product-title">
                    <a href="./product-detailt.html">Tong phanh (thang) tren xe</a>
                </h3>
                <p class="product-content">
                    <small class="text-muted"><i>Xuat xu: Germany</i></small>
                </p>
                <h4 class="product-price">
                    Gia: Vui long lien he
                </h4>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
</div>
{% endblock %}