<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{style}}/bootstrap.min.css">
    <link rel="stylesheet" href="{{style}}/font-awesome.css">
    <link rel="stylesheet" href="{{style}}/swiper.min.css">
    <link rel="stylesheet" href="{{style}}/app.css">
    <title>Document</title>
</head>

<body>
    <header id="header">
        <div class="bg-top">
            <div class="container">
                <div class="row align-items-center">
                    <aside class="col-lg-10 col-md-9 col-12">
                        <ul class="nolist d-lg-inline-flex d-flex header-top">
                            <li><a href="/">Trang Chu</a></li>
                            <li><a href="./about.html">Gioi Thieu</a></li>
                            <li><a href="./product.html">San Pham</a></li>
                            <li class="d-lg-block d-none"><a href="#">Dich Vu</a></li>
                            <li><a href="./news.html">Tin Tuc</a></li>
                            <li class="d-lg-block d-none"><a href="#">Chinh sach va ho Tro</a></li>
                            <li><a href="#">Lien He</a></li>
                        </ul>
                    </aside>
                    <div class="col-lg-2 col-md-3 col-5 text-md-right d-md-block d-none">
                        <div class="d-inline-block align-items-center">
                            <span class="fa-stack fa-sm fa-fw d-inline-block">
                                <i class="fa fa-circle fa-sm fa-stack-2x text-white"></i>
                                <i class="fa fa-phone fa-sm fa-stack-1x fa-inverse text-dark"></i>
                            </span>
                            <span class="text-white font-weight-bold d-inline-block">1900 2567</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white">
            <div class="container py-md-0 py-2">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-10">
                        <a href="/" class="d-inline-block header-logo"><img src="{{img_path}}/logo.png" alt=""></a>
                    </div>
                    <div class="col-2 d-lg-none text-right">
                        <a href="#" class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fa fa-bars fa-lg"></i>
                        </a>
                    </div>
                    <div class="col-md-10 position-static">
                        <nav id="navbarSupportedContent" class="header-navbar collapse navbar-collapse">
                            <ul class="nolist d-flex flex-lg-row flex-column">
                                <li class="dropdown">
                                    <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">He thong giam phanh</a>
                                    <ul class="dropdown-menu nolist" aria-labelledby="dropdownMenuButton">
                                        <li class="dropdown-item"><a href="#">Tong phan</a></li>
                                        <li class="dropdown-item"><a href="">Phan Truoc</a></li>
                                        <li class="dropdown-item"><a href="">Phanh Sau</a></li>
                                        <li class="dropdown-item"><a href="">Dau Phanh</a></li>
                                        <li class="dropdown-item"><a href="">Can soc oto</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">He thong dong co, hop so</a></li>
                                <li><a href="#">He thong chuyen dong, lai</a></li>
                                <li><a href="#">He thong lam mat, nhien lieu</a></li>
                                <li><a href="#">He thong guong, den</a></li>
                                <li><a href="#">He thong banh lop</a></li>
                                <li><a href="#">Noi that, phu kien</a></li>
                                <li><a href="#">Do choi xe</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h4 class="text-dark text-uppercase">phu thung oto mai xuan dung</h4>
                    <address>
                        <dl>
                            <dd><span>Dia chi:</span><span>So 102A - Le Hong Phong - Phuong 4 - TP.Vung Tau</span></dd>
                            <dd><span>So dien thoai:</span><a href="tel:+842546275555">0254 6275 555</a></dd>
                            <dd><span>Email:</span><a href="mailto:contact@vutatech.vn">contact@vutatech.vn</a></dd>
                        </dl>
                        <p>
                            <span>Gio mo cua:</span>
                            <time>08:00 AM</time>
                            <span>-</span>
                            <time>20:08 PM</time>
                            <span>ke ca thu 7 va chu nhat</span>
                        </p>
                    </address>
                    <div class="social text-md-right text-center">
                        <ul class="d-inline-flex nolist">
                            <li class="px-2">
                                <a href="#" class="btn btn-sm btn-info ">
                                    <i class="fa fa-facebook fa-fw fa-lg text-white"></i>
                                </a>
                            </li>
                            <li class="px-2">
                                <a href="#" class="btn btn-sm btn-danger">
                                    <i class="fa fa-google-plus fa-fw fa-lg text-white"></i>
                                </a>
                            </li>
                            <li class="px-2">
                                <a href="#" class="btn btn-sm btn-danger">
                                    <i class="fa fa-youtube fa-fw fa-lg text-white"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <h4 class="text-dark text-uppercase">lien ket</h4>
                    <aside>
                        <ul class="nolist">
                            <li class="active"><a href="#">Trang Chu</a></li>
                            <li><a href="#">Gioi Thieu</a></li>
                            <li><a href="#">San Pham</a></li>
                            <li><a href="#">Dich Vu</a></li>
                            <li><a href="#">Tin Tuc</a></li>
                            <li><a href="#">Chinh sach va ho Tro</a></li>
                            <li><a href="#">Lien He</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15699.041786027055!2d107.08347344999999!3d10.361029449999998!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1543460782110"
                        width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container text-center py-2">
                Ban quyen thuoc <a href="/">oto mai xuan dung</a>
            </div>
        </div>
    </footer>
    <script src="{{script}}/jquery-3.3.1.min.js"></script>
    <script src="{{script}}/popper.min.js"></script>
    <script src="{{script}}/bootstrap.js"></script>
    <script src="{{script}}/swiper.min.js"></script>
    {% block script %}{% endblock %}
</body>

</html>